#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk

build/$(CABAL_PACKAGE):: build-ghc-stamp

install/$(CABAL_PACKAGE):: debian/tmp-inst-ghc
	cd debian/tmp-inst-ghc ; find usr/bin/ \
		-exec install -Dm 755 '{}' ../$(notdir $@)/'{}' ';'
